/* assistant-200 - hebrew_latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 200;
  src: url("../styles/fonts/assistant-v2-hebrew_latin-200.eot");
  /* IE9 Compat Modes */
  src: local("Assistant ExtraLight"), local("Assistant-ExtraLight"), url("../../styles/fonts/assistant-v2-hebrew_latin-200.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/assistant-v2-hebrew_latin-200.woff2") format("woff2"), url("../../styles/fonts/assistant-v2-hebrew_latin-200.woff") format("woff"), url("../../styles/fonts/assistant-v2-hebrew_latin-200.ttf") format("truetype"), url("../../styles/fonts/assistant-v2-hebrew_latin-200.svg#Assistant") format("svg");
  /* Legacy iOS */ }
/* assistant-300 - hebrew_latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: url("../../styles/fonts/assistant-v2-hebrew_latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Assistant Light"), local("Assistant-Light"), url("../../styles/fonts/assistant-v2-hebrew_latin-300.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/assistant-v2-hebrew_latin-300.woff2") format("woff2"), url("../../styles/fonts/assistant-v2-hebrew_latin-300.woff") format("woff"), url("../../styles/fonts/assistant-v2-hebrew_latin-300.ttf") format("truetype"), url("../../styles/fonts/assistant-v2-hebrew_latin-300.svg#Assistant") format("svg");
  /* Legacy iOS */ }
/* assistant-regular - hebrew_latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: url("../../styles/fonts/assistant-v2-hebrew_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Assistant"), local("Assistant-Regular"), url("../../styles/fonts/assistant-v2-hebrew_latin-regular.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/assistant-v2-hebrew_latin-regular.woff2") format("woff2"), url("../../styles/fonts/assistant-v2-hebrew_latin-regular.woff") format("woff"), url("../../styles/fonts/assistant-v2-hebrew_latin-regular.ttf") format("truetype"), url("../../styles/fonts/assistant-v2-hebrew_latin-regular.svg#Assistant") format("svg");
  /* Legacy iOS */ }
/* assistant-600 - hebrew_latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  src: url("../../styles/fonts/assistant-v2-hebrew_latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Assistant SemiBold"), local("Assistant-SemiBold"), url("../../styles/fonts/assistant-v2-hebrew_latin-600.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/assistant-v2-hebrew_latin-600.woff2") format("woff2"), url("../../styles/fonts/assistant-v2-hebrew_latin-600.woff") format("woff"), url("../../styles/fonts/assistant-v2-hebrew_latin-600.ttf") format("truetype"), url("../../styles/fonts/assistant-v2-hebrew_latin-600.svg#Assistant") format("svg");
  /* Legacy iOS */ }
/* assistant-700 - hebrew_latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  src: url("../../styles/fonts/assistant-v2-hebrew_latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Assistant Bold"), local("Assistant-Bold"), url("../../styles/fonts/assistant-v2-hebrew_latin-700.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/assistant-v2-hebrew_latin-700.woff2") format("woff2"), url("../../styles/fonts/assistant-v2-hebrew_latin-700.woff") format("woff"), url("../../styles/fonts/assistant-v2-hebrew_latin-700.ttf") format("truetype"), url("../../styles/fonts/assistant-v2-hebrew_latin-700.svg#Assistant") format("svg");
  /* Legacy iOS */ }
/* assistant-800 - hebrew_latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  src: url("../../styles/fonts/assistant-v2-hebrew_latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Assistant ExtraBold"), local("Assistant-ExtraBold"), url("../../styles/fonts/assistant-v2-hebrew_latin-800.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/assistant-v2-hebrew_latin-800.woff2") format("woff2"), url("../../styles/fonts/assistant-v2-hebrew_latin-800.woff") format("woff"), url("../../styles/fonts/assistant-v2-hebrew_latin-800.ttf") format("truetype"), url("../../styles/fonts/assistant-v2-hebrew_latin-800.svg#Assistant") format("svg");
  /* Legacy iOS */ }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right; } }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right; } }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: 400;
  box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

dt {
  margin-left: 4px; }

ul {
  list-style: none; }

a {
  color: #000000; }
  a:hover {
    text-decoration: none; }

button {
  background-color: transparent;
  padding: 0;
  border: none; }

select {
  background-color: transparent; }

body {
  direction: rtl;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  text-align: right;
  color: #000000;
  background-color: #f7f7f7;
  overflow-x: hidden; }

.wrapper {
  display: block;
  width: 1140px;
  margin: 0 auto; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.hidden {
  display: none; }

.strong {
  font-weight: 700; }

.area {
  padding: 25px 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); }

.btn-edit {
  display: inline-block;
  color: #74818a;
  padding-right: 15px;
  background-image: url("../../img/edit.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right center; }

.btn-remove {
  display: inline-block;
  color: #74818a;
  padding-right: 15px;
  background-image: url("../../img/remove.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right center; }

.content {
  padding-top: 160px; }

.header {
  width: 100%;
  height: 130px;
  margin-bottom: 30px;
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 900; }
  .header .wrapper {
    position: relative; }
  .header .logo {
    position: absolute;
    top: 2px;
    right: 0; }
  .header-navigation {
    float: left; }
    .header-navigation-item {
      font-weight: 600;
      height: 33px;
      line-height: 31px;
      float: right; }
      .header-navigation-item:hover {
        cursor: pointer; }
      .header-navigation-item:not(:last-child):after {
        content: "|";
        padding-right: 5px;
        padding-left: 5px; }
  .header-title {
    font-size: 44px;
    height: calc(130px - 10px  - 15px - 33px - 10px);
    line-height: calc(130px - 10px  - 15px - 33px - 10px);
    margin-right: 40px;
    margin-bottom: 15px;
    padding-top: 11px; }
  .header-bar {
    display: inline-block;
    height: 33px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
  .header-home {
    width: 50px;
    height: 100%;
    margin-left: 3px;
    background-color: #e5ebf1;
    background-image: url("../../img/home.png");
    background-position: center center;
    border: none; }
  .header-filters-list {
    font-size: 17px px;
    height: 100%;
    padding-right: 18px;
    padding-left: 18px;
    background-color: #e5ebf1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .header-filters-item {
    height: 100%;
    line-height: 33px;
    margin-left: 28px; }
    .header-filters-item-title {
      display: inline-block; }
    .header-filters-item-data {
      display: inline-block;
      color: #3a95c4;
      border: none; }

.footer {
  color: #d7e0ea;
  width: 100%;
  height: 246px;
  background-color: #2e4254;
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .footer-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .footer-nav-item {
    display: inline-block;
    width: 270px;
    margin-left: 18px;
    padding-top: 40px;
    -webkit-flex-basis: 270px;
    -moz-flex-basis: 270px;
    -ms-flex-preferred-size: 270px;
    flex-basis: 270px; }
    .footer-nav-item:last-child {
      margin-left: 0; }
    .footer-nav-item-title {
      margin-bottom: 20px; }
    .footer-nav-item-link {
      margin-bottom: 15px; }
  .footer-legal {
    color: #748fa7;
    height: 65px;
    background-color: #243442; }
    .footer-legal-list {
      height: 100%;
      line-height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
    .footer-legal-item:hover {
      cursor: pointer; }
    .footer-legal-item:not(:last-child):after {
      content: "|";
      padding-right: 5px;
      padding-left: 5px; }
    .footer-legal-item:first-child:before {
      content: "\00A9";
      display: inline-block;
      padding-top: 2px;
      margin-left: 5px; }

.profile {
  padding-right: 0;
  padding-left: 0; }

.title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid #e2e2e2; }

.description {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px; }

.notice {
  color: #74818a;
  margin-bottom: 20px; }

.side {
  padding-right: 0;
  padding-left: 30px;
  z-index: 1; }

.navigation {
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); }

.profile-card {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0; }
  .profile-card-head {
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid #e2e2e2; }
  .profile-card-name {
    font-size: 30px;
    color: #3a95c4;
    padding-bottom: 10px; }
  .profile-card-number {
    font-size: 14px; }
    .profile-card-number .profile-card-data {
      color: #000000; }
  .profile-card-expand, .profile-card-collapse {
    font-size: 12px;
    color: #3a95c4;
    height: 15px;
    line-height: 15px;
    margin-top: 15px;
    padding-right: 24px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right center; }
  .profile-card-expand {
    background-image: url("../../img/show_more.png"); }
  .profile-card-collapse {
    background-image: url("../../img/show_less.png"); }
  .profile-card-list {
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: 1px solid #e2e2e2; }
    .profile-card-list-item:not(:last-child) {
      padding-bottom: 17px; }
    .profile-card-list-item:first-child {
      padding-top: 20px; }
  .profile-card-title {
    display: inline-block; }
  .profile-card-data {
    display: inline-block;
    color: #74818a; }
  .profile-card .collapsed {
    height: 0;
    opacity: 0;
    -webkit-transition: height 0.8s ease-out, opacity 0.3s ease-out;
    -moz-transition: height 0.8s ease-out, opacity 0.3s ease-out;
    -ms-transition: height 0.8s ease-out, opacity 0.3s ease-out;
    -o-transition: height 0.8s ease-out, opacity 0.3s ease-out;
    transition: height 0.8s ease-out, opacity 0.3s ease-out; }
  .profile-card .expanded {
    height: 254px;
    padding-bottom: 20px;
    opacity: 1;
    -webkit-transition: height 0.8s ease-out, opacity 0.5s ease-out 0.3s;
    -moz-transition: height 0.8s ease-out, opacity 0.5s ease-out 0.3s;
    -ms-transition: height 0.8s ease-out, opacity 0.5s ease-out 0.3s;
    -o-transition: height 0.8s ease-out, opacity 0.5s ease-out 0.3s;
    transition: height 0.8s ease-out, opacity 0.5s ease-out 0.3s; }
  .profile-card .editable {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .profile-card .editable dl {
      display: inline-block; }
    .profile-card .editable .profile-card-data {
      color: #3a95c4;
      text-decoration: underline; }
  .profile-card .profile-card-controls {
    display: none; }

.item-on-edit {
  border: 1px solid #3a95c4; }
  .item-on-edit .profile-card {
    border-bottom: none; }
  .item-on-edit .on-edit {
    background-color: #ebf4f9;
    border: 1px solid #2c7095; }
    .item-on-edit .on-edit .profile-card-title {
      margin-right: 13px; }
    .item-on-edit .on-edit .profile-card-data {
      width: calc(100% - 80px); }
      .item-on-edit .on-edit .profile-card-data-input {
        display: inline-block;
        width: 100%;
        height: 33px;
        line-height: 33px;
        border: none;
        background-color: #ebf4f9; }
  .item-on-edit .status {
    display: none; }
  .item-on-edit .profile-card-controls {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #b0d5e7; }
    .item-on-edit .profile-card-controls .btn-save {
      display: inline-block;
      font-size: 23px;
      color: #ffffff;
      height: 33px;
      padding-right: 18px;
      padding-left: 18px;
      background-color: #2c7095; }
    .item-on-edit .profile-card-controls .btn-cancel {
      font-size: 18px;
      color: #2c7095;
      height: 33px;
      margin-right: 20px;
      padding-right: 18px;
      padding-left: 18px; }

.status {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 25px; }
  .status-title {
    margin-bottom: 15px; }
  .status-wrapper {
    height: 34px;
    line-height: 34px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .status-wrapper:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e2e2e2;
      position: absolute;
      top: 17px; }
  .status-index {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    color: #999999;
    width: 23px;
    height: 23px;
    line-height: 23px;
    background-color: #e2e2e2;
    background-position: center center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    overflow: visible; }
    .status-index-tooltip {
      display: inline-block;
      text-align: center;
      color: #74818a;
      width: auto;
      height: auto;
      line-height: normal;
      padding: 10px;
      background: #ffffff;
      border: 1px solid #e4e3e3;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
      white-space: nowrap;
      position: absolute;
      top: -52px;
      right: -62px; }
    .status-index .status-index-arrow {
      width: 70px;
      height: 16px;
      margin-left: -35px;
      overflow: hidden;
      position: absolute;
      left: 50%;
      bottom: -16px; }
      .status-index .status-index-arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        background: #ffffff;
        border: 1px solid #e4e3e3;
        -webkit-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
        -moz-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
        box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
  .status .completed {
    color: #ffffff;
    background-color: #b8d592; }
  .status .active {
    color: #ffffff;
    font-size: 15px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #84b750;
    position: relative; }
    .status .active .status-index-tooltip {
      top: -55px;
      right: -66px; }

.navigation-list .navigation-item {
  height: 47px;
  line-height: 47px;
  padding-right: 20px;
  padding-left: 17px;
  border-right: 3px solid transparent; }
  .navigation-list .navigation-item a {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e2e2e2; }
  .navigation-list .navigation-item:last-child a {
    border-bottom-color: transparent; }
  .navigation-list .navigation-item-status {
    color: #74818a; }
.navigation-list .active {
  background-color: #f1f6f9;
  border-right: 3px solid #3a95c4; }
  .navigation-list .active a {
    color: #3a95c4;
    border-bottom-color: transparent; }
    .navigation-list .active a-status {
      color: #74818a; }

.btn-pdf {
  color: #3a95c4;
  width: 200px;
  height: 35px;
  line-height: 33px;
  margin: 10px 20px 20px 20px;
  background-color: #ffffff;
  border: 1px solid #3a95c4; }

.legend {
  text-align: center;
  color: #74818a;
  padding: 20px;
  border-top: 1px solid #e2e2e2; }

.instructions {
  position: absolute;
  top: 160px;
  left: -268px;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out; }
  .instructions .flag {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    width: 87px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #74818a;
    position: absolute;
    right: -87px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .instructions .ready-to-open {
    background-color: #f7ba45; }
  .instructions-list {
    color: #74818a;
    width: 268px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 5px solid #74818a;
    background-color: #ffffff; }
  .instructions-item {
    padding-top: 30px;
    padding-bottom: 30px; }
    .instructions-item:not(:last-child) {
      border-bottom: 1px solid #e2e2e2; }
  .instructions.expanded {
    left: 0px; }

.modal-dialog {
  width: 1003px;
  height: 604px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
.modal-content {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border: 1px solid #bec8d2;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 3.5px 3.5px 5px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 3.5px 3.5px 5px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 3.5px 3.5px 5px 0 rgba(0, 0, 0, 0.14); }
.modal-header {
  height: 86px;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: none;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1); }
  .modal-header .close {
    float: left;
    width: 37px;
    height: 100%;
    margin-left: 5px;
    background-image: url("../../img/close_modal.png");
    background-size: 37px;
    background-repeat: no-repeat;
    background-position-y: center; }
.modal-subtitle {
  font-size: 18px;
  color: #74818a; }
.modal-title {
  font-size: 30px;
  color: #3a95c4;
  line-height: unset; }
.modal-field-title {
  font-size: 24px;
  color: #3a95c4;
  margin-bottom: 13px; }
.modal-button-wrapper {
  position: absolute;
  bottom: 0; }
.modal .btn-save {
  font-size: 25px;
  color: #ffffff;
  width: 200px;
  height: 60px;
  margin-left: 20px;
  background-color: #3a95c4;
  opacity: 0.7;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); }
.modal .btn-cancel {
  color: #74818a;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px; }

.profile-target.green .profile-target-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }
.profile-target.green .profile-target-title {
  width: calc(100% / 3);
  flex-basis: calc(100% / 3); }
  .profile-target.green .profile-target-title-number {
    color: #84b750;
    font-weight: 600; }
  .profile-target.green .profile-target-title-name {
    font-size: 24px;
    color: #74818a; }
.profile-target.green .target-summary {
  color: #84b750;
  font-weight: 600; }
.profile-target.green .profile-target-add {
  color: #84b750;
  padding-top: 15px; }
.profile-target.green .target-calendar {
  margin-top: 20px; }
  .profile-target.green .target-calendar-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
    .profile-target.green .target-calendar-line:nth-last-child(2) .target-calendar-cell:not(.line-header) {
      border-bottom: 1px solid #e2e2e2; }
  .profile-target.green .target-calendar-cell:not(.line-header) {
    width: 60px;
    height: 60px;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2; }
    .profile-target.green .target-calendar-cell:not(.line-header):last-child {
      border-left: 1px solid #e2e2e2; }
    .profile-target.green .target-calendar-cell:not(.line-header) .target-calendar-cell-link {
      display: block;
      width: 100%;
      height: 100%; }
  .profile-target.green .target-calendar .line-header {
    text-align: center;
    color: #84b750;
    font-weight: 600;
    width: 60px;
    height: 60px;
    line-height: 60px; }
  .profile-target.green .target-calendar .filled {
    border-right: none;
    border-left: none;
    background-color: #84b750; }
  .profile-target.green .target-calendar-month {
    text-align: center;
    color: #74818a;
    width: 60px;
    height: 30px;
    line-height: 30px; }

.profile-target.crimson .profile-target-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }
.profile-target.crimson .profile-target-title {
  width: calc(100% / 3);
  flex-basis: calc(100% / 3); }
  .profile-target.crimson .profile-target-title-number {
    color: #ba6485;
    font-weight: 600; }
  .profile-target.crimson .profile-target-title-name {
    font-size: 24px;
    color: #74818a; }
.profile-target.crimson .target-summary {
  color: #ba6485;
  font-weight: 600; }
.profile-target.crimson .profile-target-add {
  color: #ba6485;
  padding-top: 15px; }
.profile-target.crimson .target-calendar {
  margin-top: 20px; }
  .profile-target.crimson .target-calendar-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
    .profile-target.crimson .target-calendar-line:nth-last-child(2) .target-calendar-cell:not(.line-header) {
      border-bottom: 1px solid #e2e2e2; }
  .profile-target.crimson .target-calendar-cell:not(.line-header) {
    width: 60px;
    height: 60px;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2; }
    .profile-target.crimson .target-calendar-cell:not(.line-header):last-child {
      border-left: 1px solid #e2e2e2; }
    .profile-target.crimson .target-calendar-cell:not(.line-header) .target-calendar-cell-link {
      display: block;
      width: 100%;
      height: 100%; }
  .profile-target.crimson .target-calendar .line-header {
    text-align: center;
    color: #ba6485;
    font-weight: 600;
    width: 60px;
    height: 60px;
    line-height: 60px; }
  .profile-target.crimson .target-calendar .filled {
    border-right: none;
    border-left: none;
    background-color: #ba6485; }
  .profile-target.crimson .target-calendar-month {
    text-align: center;
    color: #74818a;
    width: 60px;
    height: 30px;
    line-height: 30px; }

.profile-target.yellow .profile-target-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }
.profile-target.yellow .profile-target-title {
  width: calc(100% / 3);
  flex-basis: calc(100% / 3); }
  .profile-target.yellow .profile-target-title-number {
    color: #d49e32;
    font-weight: 600; }
  .profile-target.yellow .profile-target-title-name {
    font-size: 24px;
    color: #74818a; }
.profile-target.yellow .target-summary {
  color: #d49e32;
  font-weight: 600; }
.profile-target.yellow .profile-target-add {
  color: #d49e32;
  padding-top: 15px; }
.profile-target.yellow .target-calendar {
  margin-top: 20px; }
  .profile-target.yellow .target-calendar-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
    .profile-target.yellow .target-calendar-line:nth-last-child(2) .target-calendar-cell:not(.line-header) {
      border-bottom: 1px solid #e2e2e2; }
  .profile-target.yellow .target-calendar-cell:not(.line-header) {
    width: 60px;
    height: 60px;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2; }
    .profile-target.yellow .target-calendar-cell:not(.line-header):last-child {
      border-left: 1px solid #e2e2e2; }
    .profile-target.yellow .target-calendar-cell:not(.line-header) .target-calendar-cell-link {
      display: block;
      width: 100%;
      height: 100%; }
  .profile-target.yellow .target-calendar .line-header {
    text-align: center;
    color: #d49e32;
    font-weight: 600;
    width: 60px;
    height: 60px;
    line-height: 60px; }
  .profile-target.yellow .target-calendar .filled {
    border-right: none;
    border-left: none;
    background-color: #d49e32; }
  .profile-target.yellow .target-calendar-month {
    text-align: center;
    color: #74818a;
    width: 60px;
    height: 30px;
    line-height: 30px; }

.target-details .target-view {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-image: url("../../img/arrow.png");
  background-size: 10px 6px;
  background-repeat: no-repeat;
  background-position: center center; }
.target-details .target-container {
  position: relative; }
.target-details .target-fields {
  font-size: 18px;
  width: 270px;
  height: auto;
  max-height: 600px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffffff;
  border: 1px solid #e4e3e3;
  -webkit-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  position: absolute;
  top: 10px;
  left: -128px; }
  .target-details .target-fields .target-fields-arrow {
    width: 70px;
    height: 16px;
    margin-left: -35px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: -16px; }
    .target-details .target-fields .target-fields-arrow:after {
      content: "";
      position: absolute;
      left: 20px;
      bottom: -20px;
      width: 25px;
      height: 25px;
      background: #ffffff;
      border: 1px solid #e4e3e3;
      -webkit-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
      -moz-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
      box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .target-details .target-fields-title {
    margin-top: 20px; }
  .target-details .target-fields-list {
    margin-top: 17px; }
  .target-details .target-fields-item {
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #e2e2e2;
    position: relative; }
    .target-details .target-fields-item:last-child {
      margin-bottom: 20px;
      border-bottom: none; }
    .target-details .target-fields-item .target-fields-item-details {
      display: none; }
    .target-details .target-fields-item .control:hover .target-fields-item-details {
      display: block;
      width: 252px;
      line-height: normal;
      background-color: #ffffff;
      padding: 20px 25px;
      border: 1px solid #e4e3e3;
      -webkit-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
      -moz-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
      box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      position: absolute;
      left: -273px;
      top: calc(322px / 2 * (-1) + 23px ); }
      .target-details .target-fields-item .control:hover .target-fields-item-details .target-fields-item-details-arrow {
        width: 16px;
        height: 70px;
        margin-top: -35px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        right: -16px; }
        .target-details .target-fields-item .control:hover .target-fields-item-details .target-fields-item-details-arrow:after {
          content: "";
          position: absolute;
          top: 20px;
          left: -20px;
          width: 25px;
          height: 25px;
          background: #ffffff;
          border: 1px solid #e4e3e3;
          -webkit-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
          -moz-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
          box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
      .target-details .target-fields-item .control:hover .target-fields-item-details .target-fields-item-details-set:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e2e2e2; }
      .target-details .target-fields-item .control:hover .target-fields-item-details .target-fields-item-details-title {
        color: #74818a;
        line-height: 20px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px; }
      .target-details .target-fields-item .control:hover .target-fields-item-details .target-fields-item-details-data {
        font-size: 16px; }
    .target-details .target-fields-item input[type="checkbox"]:focus ~ .target-fields-item-details {
      display: block;
      width: 252px;
      line-height: normal;
      background-color: #ffffff;
      padding: 20px 25px;
      border: 1px solid #e4e3e3;
      -webkit-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
      -moz-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
      box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      position: absolute;
      left: -273px;
      top: calc(322px / 2 * (-1) + 23px ); }
      .target-details .target-fields-item input[type="checkbox"]:focus ~ .target-fields-item-details .target-fields-item-details-arrow {
        width: 16px;
        height: 70px;
        margin-top: -35px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        right: -16px; }
        .target-details .target-fields-item input[type="checkbox"]:focus ~ .target-fields-item-details .target-fields-item-details-arrow:after {
          content: "";
          position: absolute;
          top: 20px;
          left: -20px;
          width: 25px;
          height: 25px;
          background: #ffffff;
          border: 1px solid #e4e3e3;
          -webkit-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
          -moz-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
          box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
      .target-details .target-fields-item input[type="checkbox"]:focus ~ .target-fields-item-details .target-fields-item-details-set:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e2e2e2; }
      .target-details .target-fields-item input[type="checkbox"]:focus ~ .target-fields-item-details .target-fields-item-details-title {
        color: #74818a;
        line-height: 20px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px; }
      .target-details .target-fields-item input[type="checkbox"]:focus ~ .target-fields-item-details .target-fields-item-details-data {
        font-size: 16px; }
.target-details .collapsed {
  max-height: 0;
  border-width: 0; }
.target-details .overflow-hidden {
  overflow: hidden; }

.profile-new-target {
  width: 138px;
  height: 40px;
  line-height: 40px;
  color: #74818a;
  margin-top: 24px;
  background-color: #e2e2e2; }

.control {
  display: block;
  padding-right: 30px;
  position: relative;
  cursor: pointer; }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .control_indicator {
    position: absolute;
    top: 29%;
    right: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #b2c2cc;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .control:hover input ~ .control_indicator,
  .control input:focus ~ .control_indicator {
    background: #e6e6e6; }
  .control input:checked ~ .control_indicator {
    background: #84b750;
    border: none; }
  .control:hover input:not([disabled]):checked ~ .control_indicator,
  .control input:checked:focus ~ .control_indicator {
    background: #84b750; }
  .control input:disabled ~ .control_indicator {
    pointer-events: none;
    opacity: 0.6;
    background: #e6e6e6; }
  .control_indicator:after {
    position: absolute;
    display: none;
    content: ''; }
  .control input:checked ~ .control_indicator:after {
    display: block; }
  .control_checkbox .control_indicator:after {
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 4px;
    left: 8px; }
  .control_checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b; }

.target-note {
  display: none; }

.filled:hover {
  position: relative; }
  .filled:hover .target-note {
    display: block;
    width: 533px;
    background-color: #ffffff;
    border: 1px solid #e4e3e3;
    -webkit-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.17);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    left: 50%; }
    .filled:hover .target-note-arrow {
      width: 70px;
      height: 16px;
      margin-left: -35px;
      overflow: hidden;
      position: absolute;
      left: 50%;
      top: -16px; }
      .filled:hover .target-note-arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        bottom: -20px;
        width: 25px;
        height: 25px;
        background: #ffffff;
        border: 1px solid #e4e3e3;
        -webkit-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
        -moz-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
        box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }

.modal-dialog {
  height: 750px; }
.modal-header dt, .modal-header dd {
  display: inline-block; }
.modal-title {
  display: inline-block;
  color: #84b750; }
  .modal-title:after {
    content: "";
    display: inline-block;
    height: 17px;
    padding-left: 10px;
    border-left: 1px solid #e2e2e2; }
.modal-fields {
  display: inline-block;
  font-size: 18px;
  color: #84b750;
  margin-right: 13px; }
.modal-container {
  height: 560px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  overflow-y: scroll; }
.modal-top {
  height: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
.modal-field {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 20px;
  padding: 18px 20px; }
  .modal-field-text {
    display: block;
    width: 100%;
    height: 65px;
    padding: 18px 15px;
    border: 1px solid #e2e2e2; }
.modal-side {
  padding: 18px; }
  .modal-side .header-filters-item-title {
    color: #74818a;
    line-height: 30px; }
.modal-main {
  margin-bottom: 0;
  padding: 18px 20px; }
.modal .way-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }
.modal .way-item {
  text-align: center;
  width: calc(100% / 4 - 8px);
  margin-bottom: 20px;
  -webkit-flex-basis: calc(100% / 4 - 8px);
  -moz-flex-basis: calc(100% / 4 - 8px);
  -ms-flex-preferred-size: calc(100% / 4 - 8px);
  flex-basis: calc(100% / 4 - 8px);
  border: 1px solid #e2e2e2; }
  .modal .way-item:not(:nth-child(4n)) {
    margin-left: 8px; }
.modal .way-title {
  font-size: 20px;
  color: #74818a;
  height: 40px;
  line-height: 40px;
  background-color: #e2e2e2; }
.modal .way-body {
  padding: 13px 20px 20px 20px; }
.modal .way-description {
  display: block;
  width: 100%;
  height: 122px;
  margin-top: 13px;
  padding: 16px 14px; }
.modal .header-filters-item-data:hover {
  color: #74818a;
  text-decoration: underline; }
.modal .btn-add {
  font-size: 20px;
  color: #74818a;
  width: 225px;
  height: 38px;
  background-color: #e2e2e2; }
.modal-button-wrapper {
  width: 100%;
  margin-top: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px; }

/*# sourceMappingURL=targets.css.map */
