//Ministry of Education -Tala

@import '../../styles/main';

@mixin target($color: $green) {
    .profile-target-head {
        @include flexbox;
        @include align-items(flex-end);
    }
    .profile-target-title {
        width: calc(100% / 3);
        flex-basis:  calc(100% / 3);
        &-number {
            color: $color;
            font-weight: 600;
        }
        &-name {
            font-size: $font-size + 8px;
            color: $font-light;
        }
    }
    .target-summary {
        color: $color;
        font-weight: 600;
    }

    .profile-target-add {
        color: $color;
        padding-top: 15px;
    }

    //table
    .target-calendar {
        margin-top: 20px;
        &-line {
            @include flexbox;
            @include flex-wrap(nowrap);
            @include justify-content(flex-start);
            &:nth-last-child(2) .target-calendar-cell:not(.line-header) {
                border-bottom: 1px solid $border-color;
            }
        }

        &-cell:not(.line-header) {
            width: 60px;
            height: 60px;
            border-top: 1px solid $border-color;
            border-right: 1px solid $border-color;
            &:last-child {
                border-left: 1px solid $border-color;
            }
            .target-calendar-cell-link {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .line-header {
            text-align: center;
            color: $color;
            font-weight: 600;
            width: 60px;
            height: 60px;
            line-height: 60px;
        }

        .filled {
            border-right: none;
            border-left: none;
            background-color: $color;
        }

        &-month {
            text-align: center;
            color: $font-light;
            width: 60px;
            height: 30px;
            line-height: 30px;
        }
    }
}

@mixin targetDetails {
    display: block;
    width: 252px;
    line-height: normal;
    background-color: $light-color;
    padding: 20px 25px;
    border: 1px solid $tooltip-border;
    @include box-shadow(0, 2px, 13px, 0, rgba(0, 0, 0, 0.17));
    @include border-radius(3px);
    position: absolute;
    left: -273px;
    top: calc(322px / 2 * (-1) + 23px ); // 322px = height of the div in absolute position; 23px = half of the height of the parent element

    .target-fields-item-details-arrow {
        @include arrowVertical;
    }

    .target-fields-item-details-set:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
    }

    .target-fields-item-details-title {
        color: $font-light;
        line-height: 20px;
        font-size: $font-size + 2px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .target-fields-item-details-data {
        font-size: $font-size;
    }
}

.profile-target.green{
    @include target($green);
}
.profile-target.crimson{
    @include target($crimson);
}
.profile-target.yellow{
    @include target($yellow);
}

.target-details {
    .target-view {
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-image: url('../../img/arrow.png');
        background-size: 10px 6px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .target-container {
        position: relative;
    }

    .target-fields {
        font-size: $font-size + 2px;
        width: 270px;
        height: auto;
        max-height: 600px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: $light-color;
        border: 1px solid $tooltip-border;
        @include box-shadow(0, 2px, 13px, 0, rgba(0, 0, 0, 0.17));
        @include border-radius(3px);
        @include transition(1s, linear);
        position: absolute;
        top: 10px;
        left: -128px;

        .target-fields-arrow {
            @include arrow(up);
        }

        &-title {
            margin-top: 20px;
        }

        &-list {
            margin-top: 17px;
        }
        &-item {
            height: 45px;
            line-height: 45px;
            border-top: 1px solid $border-color;
            position: relative;

            &:last-child {
                margin-bottom: 20px;
                border-bottom: none;
            }

            .target-fields-item-details {
                display: none;
            }

            .control:hover {
                .target-fields-item-details {
                    @include targetDetails;
                }
            }

            input[type="checkbox"]:focus {
                & ~ .target-fields-item-details {
                    @include targetDetails;
                }
            }
        }
    }

    .collapsed {
        max-height: 0;
        border-width: 0;
    }

    .overflow-hidden {
        overflow: hidden;
    }
}

.profile-new-target {
    width: 138px;
    height: 40px;
    line-height: 40px;
    color: $font-light;
    margin-top: 24px;
    background-color: $border-color;
}

.control {
    @include checkbox($green);
}

//modal - rules for targets page

//to delete
#myModal {
    display: block;
    padding-right: 17px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade.in {
    opacity: 1;
}
////////////////////
.modal-dialog {
    height: 750px;
}

.modal-header {
    dt, dd {
        display: inline-block;
    }
}

.modal-title {
    display: inline-block;
    color: $green;

    &:after {
        content: "";
        display: inline-block;
        height: 17px;
        padding-left: 10px;
        border-left: 1px solid $border-color;
    }
}

.modal-fields {
    display: inline-block;
    font-size: $font-size + 2px;
    color: $green;
    margin-right: 13px;
}

.modal {
    &-container {
        height: 560px;
        padding-top: $modal-main-padding;
        padding-right: $modal-main-padding;
        padding-left: $modal-main-padding;
        overflow-y: scroll;
    }
    &-top {
        height: 160px;
        @include flexbox;
        @include justify-content;
    }
    &-field {
        @include flex-grow(1);
        margin-left: 20px;
        padding: 18px 20px;
        &-text {
            display: block;
            width: 100%;
            height: 65px;
            padding: 18px 15px;
            border: 1px solid $border-color;
        }
    }
    &-side {
        padding: 18px;
        .header-filters-item-title {
            color: $font-light;
            line-height: 30px;
        }
    }
    &-main {
        margin-bottom: 0;
        padding: 18px 20px;
    }

    .way {
        &-list {
            @include flexbox;
            @include flex-wrap(wrap);
            @include justify-content(flex-start);
        }
        &-item {
            text-align: center;
            width: calc(100% / 4 - 8px);
            margin-bottom: 20px;
            @include flex-basis(calc(100% / 4 - 8px));
            border: 1px solid $border-color;
            &:not(:nth-child(4n)) {
                margin-left: 8px;
            }
        }
        &-title {
            font-size: $font-size + 4px;
            color: $font-light;
            height: 40px;
            line-height: 40px;
            background-color: $border-color;
        }
        &-body {
            padding: 13px 20px 20px 20px;
        }
        &-description {
            display: block;
            width: 100%;
            height: 122px;
            margin-top: 13px;
            padding: 16px 14px;
        }
    }

    .header-filters-item-data:hover {
        color: $font-light;
        text-decoration: underline;
    }

    .btn-add {
        font-size: $font-size + 4px;
        color: $font-light;
        width: 225px;
        height: 38px;
        background-color: $border-color;
    }

    &-button-wrapper {
        width: 100%;
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 17px;
        padding-left: 20px;
    }
}
