//Ministry of Education -Tala

@import '../../styles/main';
@import '../../styles/modal';

.top {
    height: 20px;
    border: 1px solid $border-color;
}

.profile-list {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    .profile-item {
        text-align: center;
        font-size: $font-size + 8px;
        width: 256px;
        height: 120px;
        margin-bottom: 20px;
        border: 1px solid $border-color;
        &:hover {
            border-bottom: $active-color;
            .profile-item-link {
                color: $active-color;
            }
            .profile-item-border {
                height: 3px;
                background-color: $active-color;
            }
        }

        &-link {
            color: $font-light;
            height: 100%;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(space-between);
            position: relative;
            &:hover{
                text-decoration: none;
            }
            &:focus {
                outline: none;
                text-decoration: none;
            }
        }

        &-title {
            @include flex-grow(1);
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center);
        }

        &-border {
            height: 2px;
            background-color: transparent;
        }

        &-completed {
            display: none;
        }
    }

    .profile-item.completed {
        border: 1px solid $active-color;
        .profile-item-completed {
            display: block;
            width: 20px;
            height: 20px;
            background-color: $active-color;
            border-radius: 50%;
            background-image: url('../../img/success.png');
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}

.profile-fields {
    padding: 25px 20px;
    background-color: $light-color;
    @include box-shadow;

    &-line {
        &:not(:first-child) {
            padding-top: 20px;
        }
        &:not(:last-child) {
            padding-bottom: 20px;
            border-bottom: 1px solid $border-color;
        }
    }

    .profile-item-title {
        font-size: $font-size + 8px;
        color: $active-color;
        margin-bottom: 18px;
    }

    &-list {
        height: 124px;
        overflow-y: hidden;
        @include flexbox;
        @include align-items(stretch);
    }

    .expanded {
        height: auto;
    }

    &-item {
        display: inline-block;
        width: calc(100% / 3);
        padding-left: 30px;
        vertical-align: top;
    }

    .first-item {
        color: $font-light;
    }

    &-buttons {
        margin-top: 20px;
        @include flexbox;
        @include justify-content;
        &-right {
            color: $font-light;
            width: calc(100% / 3 - 30px);
            @include inline-flex;
            @include justify-content;
        }
        &-left {
            display: inline-block;
            text-align: left;
            width: calc(100% / 3 * 2);
            color: $active-color;
        }
    }

    &-title {
        font-size: $font-size + 2px;
        font-weight: 600;
        color: $font-light;
        margin-bottom: 10px;
    }
}


