//Ministry of Education -Tala

//common
$bg-body: #f7f7f7;
$font-color: #000000;
$font-light: #74818a;
$light-color: #ffffff;
$border-color: #e2e2e2;
$active-color: #3a95c4;
$active-bg: #f1f6f9;
$active-secondary: #2c7095;
$active-input: #ebf4f9;
$bg-button-container: #b0d5e7;

//status
$font-status: #999999;
$status-bg-done: #b8d592;
$status-bg-active: #84b750;
$tooltip-border: #e4e3e3;

//header
$bg-filters: #e5ebf1;
$divider-color: #bec8d2;

//footer
$bg-footer: #2e4254;
$bg-legal: #243442;
$font-color-footer: #d7e0ea;
$font-color-legal: #748fa7;

//modal
$modal-bg: #f5f5f5;
$modal-success: #629847;

//brand colors
$blue: #234697;
$blue-light: #3a95c4;
$green: #84b750;
$crimson: #b96485;
$pink: #dc5961;
$yellow: #f7ba45;


//check-box
$check-box-border: #b2c2cc;
$check-box-hover: #e6e6e6;
$check-box-disabled-tick: #7b7b7b;







