//Ministry of Education -Tala

//common
$font-color: #000000;
$font-light: #74818a;
$light-color: #ffffff;
$active-color: #3a95c4;
$active-bg: #f1f6f9;
$border-color: #e2e2e2;

//status
$font-status: #999999;
$status-bg-done: #b8d592;
$status-bg-active: #84b750;
$tooltip-border: #e4e4e4;


///test//////
$bg-body: #f7f7f7;
$bg-footer: #314254;
$bg-legal: #263442;

$blue: #4a95c4;


//header
$bg-home: #bfc8d2;
$bg-filters: #e6ebf1;


//students list
